/* .table-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    overflow: inherit;
  }
  
  .table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  
  .table-cell {
    padding: 10px;
    font-size: medium;
    border: 1px solid gray;
    flex: 1;
    white-space: nowrap;         
    overflow: hidden;            
    text-wrap: wrap;
  }
  
  .table-cell.label {
    flex: 0 0 25%; 
    background-color: #d9d9d9;
    border-radius: 6px 0px 0px 6px;
    border-right: none;
  }
  
  .table-cell.value {
    text-align: left;
    background-color: #efefef;
    border-radius: 0px 6px 6px 0px;

  }
   */