/* .papers-index {
    padding: 10px;
    display: grid;

    grid-gap: 10px;
  }
  
  @media (max-width: 768px) {
    .papers-index {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
   */